@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

html, body {
	position: relative;
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0.05px;
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
  }
  body::before {    
	content: "";
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("https://images.unsplash.com/photo-1571541798923-18cb2a7ffabe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80");
	background-size: cover;
	background-position: top center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -10;
}